.widget h2 {
    font-weight: bold;
    font-family: $font-family-sub-heading;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family-sub-heading;
    color: $dark-grey;
}

p {
    color: $dark-grey;
}