

.bio-excerpt-section__skills {
    margin-top: 160px;

        h2 {
            margin-top: 0;
            line-height: 1;
        }

        ul { 

        }

        li {
            background: white;
            padding: 10px;
            margin-bottom: 15px;
        }
}