
.skills-section {
    background: $light-grey;
    padding: 100px 15px 200px;
}

.bio-excerpt-section__skills {

        h2 {
            margin-top: 0;
            line-height: 1;
        }

        ul { 

        }

        li {
            background: white;
            //padding: 10px;
            margin-bottom: 15px;
        }
}

.skill-bar {
    width: 100%;
    background: $light;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}

.skills.css {
    width: 90%;
    background-color: $primary-color;
}