
.skills-section {
    background: $light-grey;
    padding: 100px 15px 100px;

    @include mediaQ-min($bp-md) {
        padding: 130px 15px 360px;

        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    }
}

.bio-excerpt-section__skills {

        h2 {
            margin-top: 0;
            line-height: 1;
        }

        ul { 

        }

        li {
            background: white;
            //padding: 10px;
            margin-bottom: 15px;
        }
}

.skill-bar {
    width: 100%;
    background: $light;
}

.skill-bar__title {
    background-color: $light-grey;
}

.skills {
    text-align: right;
    padding-right: 20px;
    color: transparent;
    line-height: 24px;
    background: $primary-color;

    @include mediaQ-min($bp-sm) {
        line-height: 40px;
        color: white;
    }
}

.skills.css {
    width: 90%;
    background-color: $primary-color;
}