.footer__widget-area {
    background: $dark-grey;
    padding: $spacing-lg * 3 0;

    .footer__widget-area__container {
        position: relative;
    }

    .widget {
        display: inline-block;
        border-bottom: none;
        width: 49%;
        padding: 0 $spacing-base;
        margin-bottom: $spacing-base * 2;

        @include mediaQ-min($bp-lg) {
            width: 33%;
        }

        span {
            color: $mid-grey;
        }

        a {
            color: $light-grey;
        }
    }

    .widget_nav_menu {
        @include mediaQ-min($bp-lg) {
            position: absolute;
        }
    }

    h2 {
        color: $primary-color;
    }


}