.footer__widget-area {
    background: $dark-grey;
    padding: $spacing-lg * 3 0 $spacing-base * 2;

    @include mediaQ-min($bp-sm) {
        padding: $spacing-lg * 3 0;
    }

    .footer__widget-area__container {
        position: relative;
    }

    .widget {
        display: inline-block;
        border-bottom: none;
        width: 100%;
        padding: 0 $spacing-base;
        margin-bottom: $spacing-base * 2;

        @include mediaQ-min($bp-sm) {
            width: 49%;

            @include mediaQ-min($bp-lg) {
                width: 33%;
            }
        }

        span {
            color: $mid-grey;
        }

        a {
            color: $light-grey;
        }
    }

    .widget_nav_menu {
        @include mediaQ-min($bp-lg) {
            position: absolute;
        }
    }

    h2 {
        color: $primary-color;
    }


    #nav_menu-2 {

        li {
            @include mediaQ-max($bp-sm) {
                display: inline-block;
                margin: 0 $spacing-base;
            }
        }
    }
}