.hero-image__img {

    img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        float: none;

        @include mediaQ-min($bp-lg) {
            transform: none;
        }
    }
}

.hero-image__caption {

    h1 {
        font-family: $font-family-heading;
        font-size: 62px;

        @include mediaQ-min($bp-sm) {
            font-size: 96px;

            @include mediaQ-min($bp-md) {
                font-size: 120px;
            }
        }
    }
}